.tableWrapper {
  max-height: 150px;
  overflow-y: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: "RobotoCondensed";
  font-size: 0.95rem;
}

.table th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.table td {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  vertical-align: top;
}

.empty {
  opacity: 0.7;
  font-size: 1.2rem;
  font-family: "RobotoCondensed";
}
