.tableWrapper {
  max-height: 100px;
  overflow-y: auto;
}

.table {
    width: 100%;
    font-family: "RobotoCondensed";
    font-size: 0.95rem;
    border-collapse: collapse;
  }
  
  .table th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
  .table td {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
  }
  
  .empty {
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: "RobotoCondensed";
  }
  