.ButtonContainer{
    margin: 10px 0px 10px 0px;
    height: 2rem;
    width: auto;
    display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.Container {
    width: auto;
    min-width: fit-content;
    height: 3.2rem;
    border-radius: 0.6rem;
    color: white;
    font-family: "RobotoCondensedBold";
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.01rem;
    user-select: none;
    transition: all ease 0.1s;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 0.4rem;
}

.Container:hover{
    height: 3.3rem;
    cursor: pointer;
    font-size: 1.55rem;
}

.Container:active{
    height: 3.1rem;
    cursor: pointer;
    font-size: 1.48rem;
    opacity: 0.6;
    margin-bottom: -0.1rem;
}

.ContainerSmall {
  height: 1.8rem;
  padding: 0.1rem 0.7rem;
  font-size: 0.9rem; 
  font-weight: 800;
  line-height: 1.4rem;
  width: auto;  
  min-width: fit-content;
  border-radius: 0.4rem; 
  color: white; 
  font-family: "RobotoCondensedBold"; 
  letter-spacing: -0.01rem; 
  user-select: none; 
  transition: all ease 0.1s; 
  display: flex; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.3rem;
}

.ContainerDisabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.ContainerLeaf {
    background: var(--leafLight);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.06), 0px 2px 5px rgba(0, 0, 0, 0.16), inset 0px 0px 18px #149100;
      display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.ContainerLeaf:hover {
    background: var(--leafLight);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 3px 12px rgba(0, 0, 0, 0.12), inset 0px 0px 18px #149100;
}

.ContainerLeaf:active {
    background: var(--leafLight);
    box-shadow: inset 0px 0px 18px #149100;
}

.ContainerGrass {
    background: var(--grass);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.06), 0px 2px 5px rgba(0, 0, 0, 0.16), inset 0px 0px 18px rgba(52, 182, 31, 0.51);
      display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.ContainerGrass:hover{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 3px 12px rgba(0, 0, 0, 0.12), inset 0px 0px 18px rgba(52, 182, 31, 0.61);
}

.ContainerGrass:active{
    box-shadow: inset 0px 0px 18px rgba(52, 182, 31, 0.61);
}




.ContainerCoal {
    background: var(--coalLight);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.06), 0px 2px 5px rgba(0, 0, 0, 0.16), inset 0px 0px 18px rgba(0, 0, 0, 0.51);;
      display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.ContainerCoal:hover {
    background: var(--coalLight);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 3px 12px rgba(0, 0, 0, 0.12), inset 0px 0px 18px rgba(0, 0, 0, 0.51);;
}

.ContainerCoal:active {
    background: var(--coalLight);
    box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.51);;
}


.ContainerError {
    background: var(--errorLight);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.06), 0px 2px 5px rgba(0, 0, 0, 0.16), inset 0px 0px 18px #CC2543;
    display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.ContainerError:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 3px 12px rgba(0, 0, 0, 0.12), inset 0px 0px 18px #CC2543;
}

.ContainerError:active {
    box-shadow: inset 0px 0px 18px #CC2543;
}

.buttonSelected {
    background: white;
    box-shadow: none;
    color: var(--leaf);
    border: 2px solid var(--leaf);
      display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.buttonSelected:hover {
    background: white;
    box-shadow: none;
    color: var(--leaf);
    border: 2px solid var(--leaf);
}

.buttonIcon {
    font-size: 1.1em;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}