.segmentsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.7rem;
    padding-right: 1.6rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    unicode-bidi: isolate;
}
