.box {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.entriesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8px;
  position: relative;
}

.entry {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.entry:hover .fa-trash {
  display: none;
}

.module:hover .addUpdate {
  display: block;
}

.dateSection {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
  font-weight: 500;
  flex-shrink: 0;
  min-width: 80px;
  padding-right: 0px;
  border-right: 1px solid #e0e0e0;
  margin-right: 0.5rem;
}

.calendarIcon {
  margin-right: 8px;
  color: #b0b0b0;
}

.date {
  font-weight: bold;
  margin-right: 0.3rem;
  color: #555;
}

.site {
  color: #555;
}

.placeholder {
  color: #999;
  font-style: italic;
}

.emptyMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #666;
  font-style: italic;
  font-size: 1rem;
}

.readOnlyText {
  margin: 0;
  white-space: pre-wrap; /* respects newlines */
}

.empty {
  padding: 12px;
  color: #666;
  font-style: italic;
}

.trashIcon {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 10;
  cursor: pointer;
}

.entry:hover .trashIcon {
  display: block;
}

.module:hover .addUpdate {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}


.addEntryButton {
  opacity: 0;
  position: absolute;
  font-size: 1.2rem;
  top: -2.3rem;
  right: 0rem;
  font-weight: bold;
  text-decoration: underline;
  background: none;
  border: none;
  color: var(--grey);
  cursor: pointer;
  z-index: 10;
}

.addEntryButton:hover {
  opacity: 1;
  display: block;
  color: var(--greyDark);
}