.Figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 0.5vw;
  font-family: "TruenoRg";
  font-size: 1.5vw;
  font-weight: normal;
  color: var(--coalLight);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.numberGroup {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.value {
  color: var(--leafDark);   /* e.g. red for the number */
  font-weight: bold;
  padding-left: 0.3rem;
  margin-bottom: 0.2rem;
  margin-top: 2rem;
}

.unit {
  font-size: 1rem;
  color: #444;
}
