.Figure{
    margin: 0;
    padding: 0;
    font-family: "TruenoRg";
    font-size: 1vw;
    font-weight: normal;
    color: var(--coalLight);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Figure2{
    margin: 0;
    padding-top: 2.3rem;
    font-family: "TruenoRg";
    font-size: 2.5vw;
    font-weight: normal;
    color: var(--coalLight);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

    .Figure3{
    margin: 0;
    font-family: "TruenoRg";
    font-size: 2vw;
    font-weight: normal;
    color: var(--leafDark);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0rem;
  }