/* components/PerformanceTable.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.table th {
  background-color: #f0f0f0;
  text-align: left;
  padding: 8px;
}

.table td {
  padding: 8px;
}
