.pieChartContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.pieChartContainerCanvas {
  display: block;
  width: 100%;
  max-width: 200px;
}

.bbbLogo {
    margin-top: 8%;
    max-width: 100%;
}