.selector {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.label {
  font-family: "TruenoSBd";
  font-size: 1rem;
}

.option input {
  display: none;
}

.radio {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #444;
  margin-right: 0.5rem;
  transition: background-color 0.2s, border-color 0.2s;
}

.option input:checked + .radio {
  background-color: var(--leaf);
  border: 4px solid #444;
}
