.mainContainer {
  width: 100%;
  min-height: 6rem;
  position: relative;
}

.mainContainerLabelTop {
  flex-direction: column;
  align-items: flex-start;
  font-family: "RobotoMed";
}

.textInput {
  font-family: "RobotoMed";
  font-size: 1rem;
  color: var(--coalVeryLight);
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 1rem;
  border: 0px solid green;
  box-shadow: 0px 3.45713px 8.64283px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput::placeholder {
  color: var(--greyLight);
}

.textInput:focus {
  border: 2px solid var(--grey);
  padding: 0.5rem;
  outline: none;
}

.labelContainer {
  color: var(--coalLight);
  font-size: 1.4rem;
  padding: 0.3rem;
  margin-right: 0.5rem;
  font-family: "RobotoMed";
  display: flex;
}

.labelIcon {
  font-family: "FontAwesomeSolid";
  margin-right: 0.7rem;
}

.customIcon {
  max-height: 1.4rem;
  margin-left: -7px;
  margin-right: 6px;
}

.password {
  -webkit-text-security: disc;
  text-security: disc;
  font-weight: 700;
}

.password::placeholder {
  font-weight: normal;
  letter-spacing: 0;
}

.highlightedLabel {
  color: var(--error) !important;
}

.highlightedInput {
  border: 2px solid var(--error);
  padding: calc(1.6rem - 2px);
}

.passwordDisplayIcon {
  position: absolute;
  right: 1rem;
  bottom: 1.45rem;
  max-width: 2rem;
  opacity: 0.2;
  cursor: pointer;
}

.passwordDisplayIcon:hover {
  opacity: 0.7;
}
